<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Bienvenido a <%= title %></h1>
    </header>
    <section>
      <p>El portal de prueba de Quiz</p>
      <a href="/quizes/question">Comenzar a jugar</a>
  </section>
  </body>
</html>
